<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qiang.weishop"
    android:versionCode="2"
    android:versionName="7.7.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:background="#00BFFF"
        android:icon="@mipmap/laucher_nightly"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CountryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPwdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpNextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RaidersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainIncomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPromotionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainSupplyFromActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainSupplyToActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainCommunityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPunchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainCommodityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>